body{
    background-color: antiquewhite;
    width: 80%;
}
h1,h2,h3,h4,h5,h6{
    background-color: black;
    color: red;
}
ul,ol{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
}
i,q{
    background-color: grey;
    color: yellow;
}
table {
    font-size:24px;
    border:1px solid black;
    border-collapse: collapse;
}   
td {
    border:1px solid black;
    text-align: center;
    padding:10px;
}
th {
    border:1px solid black;
    text-align: center;
    padding:10px;
}
